/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: #27262a;    /* achtergrondkleur lichtgrijs */
  color: white; 
  background-image: url("afbeeldingen/generations.jpeg"); 
  background-repeat: no-repeat;  
  background-size: cover;   
  background-position: center; 
  background-blend-mode: darken;       /* tekstkleur donkergrijs */
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}

/* Indeling voor alle pagina's */

.page {
  width: 1500px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto; 
  border: dashed red 5px; 
  border-radius: 75px;            /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
  
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
} 

p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
}

/* Indeling voor hoofd pagina */

.kolomLinks {
  float:left;
  width:250px;
  padding-right:15px;           /* afstand tussen plaatje en rechterkolom */
}
.kolomRechts {
  float:left;
  width: 450px;
}
.kolomStop {
  clear:both;                   /* stop met floaten */
}

/* Opmaak voor alle pagina's */

h1, h2, h3 {
      color: skyblue;
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
    border: solid red;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    width: 380px;
    height: 280px;
}

nav ul li {
    float: center;
}

nav li a {
    display: block ;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    
}

nav li a:hover {
    background-color: #ff0000;
    text-shadow: 1px 1px white;
    position: relative;
 /*animation: mymove 5s infinite;
animation-direction: normal;
animation-timing-function: ease-out;
animation-delay: 0s;
animation-duration: 5s;
animation-name: mymove;
*/
    

}
@keyframes mymove {
  rom {left: 0px;}
  to {left: 10px;}
}

nav li a.active {
    background-color: rgb(255, 0, 0);
}

.bnr {
  width: 890px;
  height: 300px;
  border: solid red;
  margin: auto;
  float: right;
  margin-right: 10px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

.banna {
  float: left;
}

.main {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.text1 {
  float: left;
}
.floatrechts {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}

.floatlinks {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
  
.div1 {
  width: 700px;
  border: solid yellow 5px;
  float: left;
}

.div2 {
  width: 700px;
  border: solid green 5px;
  float: right;
}
  .text2 {
    float: right;
}

